.modal {
  /* display: none; */
  position: fixed;
  z-index: 5;
  top: 15%;
  margin: auto;
  width: 32rem;
  height: 30rem;
  border: 1px solid rgba(250, 177, 177, 0.25);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
}