.modal {
  position: fixed;
  z-index: 5;
  top: 10%;
  margin: 0 auto;
  width: 50rem;
  height: 36rem;
  border: 1px solid rgba(250, 177, 177, 0.5);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: white;
  overflow: auto;
}

.modal h3 {
  text-align: center;
}

.modal img {
  border-radius: 5px;
  border: 1px solid black;
  height: 12rem;
  width: 20rem;
  margin-top: 0.5rem;
}

.modal button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
}

.modal span {
  margin-left: 1rem;
  line-height: 1.5rem;
}

.modal p {
  margin-top: 1rem;
  line-height: 1.5rem;
}

.modal-content {
  margin: 2.75rem 1.5rem;
}

.modal-summary {
  display: flex;
}

@media screen and (max-width: 480px) {
  .modal {
    width: 95%;
    height: 85vh;
  }

  .modal img {
    height: 12rem;
    width: 100%;
    margin-top: 0;
  }

  .modal span {
    margin: 1rem 0 0;
    line-height: 1.5rem;
  }

  .modal h3 {
    margin-top: 0.5rem;
  }

  .modal-summary {
    flex-direction: column;
  }
}
